:root{
    --primery:  #ffffff;
    --secondery: #324B4c;
    --essence1: #068488;
    --essence2: #00c6cf;
} 

body {
    margin:0px;
    
    background-repeat: no-repeat;
}

.search-and-navbar {
    scrollbar-color: red;
}

.example {
    height: 300vh;
}