body {
    margin:0;
    box-sizing: border-box;
}
.product {
    display: flex;
    margin: 30px;
}

img {
    max-width: 450px;
    border: 1px solid black;
}

.product-image {
    width: 100%;
}

.item-info {
    width: 55%;
    margin-left: 20px;
    height: 363px;
    border: 1px solid black;
}

.item-details {
    padding-left: 10px;
}